{
    "backend": {
        "host": "rt-bot-test.com", // バックエンドのhost名です。
        "port": 8080 // バックエンドのポートです。
    },
    "shard_ids": "auto", // シャードを自動で割り当てるか autoの場合自動です。[数字]を指定した場合、シャードIDも数字で指定されます。
    "shard_count": null // shard_ids使う場合これもいくつのシャードを割り当てるか、指定しないといけません
}