# core
aiohttp[speedups]
aiomysql
aiofiles
toml
orjson
git+https://github.com/Rapptz/discord.py
MySQLer
discord-ext-fslash
jishaku
ipcs
uvloop; sys_platform != "win32" and implementation_name == "cpython"
pynacl
pydub
# cogs.individual
## reprypt
reprypt
# cogs.debug
psutil
# cogs.server-management
deep_translator
captcha
emoji
# cogs.entertainment
bs4
lxml
pillow
# cogs.music
yt-dlp
niconico.py
requests