# core
aiohttp[speedups]
aiomysql
aiofiles
ujson
git+https://github.com/Rapptz/discord.py
discord-ext-fslash
jishaku
uvloop; sys_platform != "win32" and implementation_name == "cpython"
# cogs.individual
## reprypt
reprypt
# cogs.server-management
## translator
deep_translator