# core
aiohttp[speedups]
aiomysql
aiofiles
orjson
git+https://github.com/Rapptz/discord.py
MySQLer
discord-ext-fslash
jishaku
ipcs
uvloop; sys_platform != "win32" and implementation_name == "cpython"
aioitertools
pynacl
# cogs.individual
## reprypt
reprypt
# cogs.debug
psutil
# cogs.server-safety
## Captcha
captcha
# cogs.server-management
## translator
deep_translator
# cogs.entertainment
## __init__
bs4
lxml
pillow
